<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" fxFlex #userForm="ngForm">
            <div class="text-center">
                <h2 class="app-name">{{name}}</h2>
            </div>
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100"
                        [ngClass]="{'mat-form-field-invalid': userForm.dirty && userForm.errors }">
                        <input matInput type="email" placeholder="Email / User Id" name="email" required ngModel>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100"
                        [ngClass]="{'mat-form-field-invalid': userForm.dirty && userForm.errors }">
                        <input matInput type="password" placeholder="Password" name="password" required ngModel>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onLogin()">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>
