<h2> Add hospital </h2>
<button mat-button (click)="back()">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Back
</button>
<hr>
<form #myform="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>UserId</mat-label>
        <input matInput name="userId" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Hospital Name</mat-label>
        <input matInput name="name" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Client Name</mat-label>
        <input matInput name="clientName" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput name="address" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput name="phone" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Legal Name</mat-label>
        <input matInput name="legalName" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Billing Address</mat-label>
        <input matInput name="billingAddress" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>PAN Card</mat-label>
        <input matInput name="panCard" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>GST</mat-label>
        <input matInput name="gst" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Agreement Duration</mat-label>
        <input type="number" matInput name="agreementDuration" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Emergency Contact Name</mat-label>
        <input matInput name="emergencyContactName" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Emergency Contact Number</mat-label>
        <input matInput name="emergencyContactNumber" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" ngModel>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" ngModel>
    </mat-form-field>
</form>
<br>
<button mat-button color="primary" (click)="addHospital()"> Add </button>
